---

import { Icon } from 'astro-icon';
import ReviewCard from './ReviewCard.astro'
import { getLangFromUrl, useTranslations } from '../../i18n/utils';

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<script>
    document.addEventListener("DOMContentLoaded", () => {
        let currentIndex = 0;

        let buttonLeft = document.getElementById('review-scroll-button-left') as HTMLElement;
        let buttonRight = document.getElementById('review-scroll-button-right') as HTMLElement;
        let cardContainer = document.getElementById('review-card-container') as HTMLElement

        buttonLeft.addEventListener('click', () => {
            if (currentIndex === 0) {
                return;
            }

            currentIndex = currentIndex - 1;

            cardContainer.children[currentIndex - 1].scrollIntoView({
                behavior: 'smooth',
                block: 'nearest',
                inline: 'start'
            })
        });

        buttonRight.addEventListener('click', () => {
            if (currentIndex === cardContainer.children.length - 1) {
                return;
            }
            
            currentIndex = currentIndex + 1;

            cardContainer.children[currentIndex].scrollIntoView({
                behavior: 'smooth',
                block: 'nearest',
                inline: 'start'
            })
        });
    })

</script>

<div class="w-full flex items-center justify-center mt-12">
    <h1 class="text-5xl text-bright-red font-bold">{t("reviews")}</h1>
</div>

<section class="w-full h-80 flex justify-start items-center flex-row relative overflow-hidden">
    <div class="h-full flex items-end lg:items-center justify-center left-0 ml-4 absolute w-16 z-30">
        <button class="w-16 h-16 flex items-center justify-center" id="review-scroll-button-left">
            <Icon name="ic:round-keyboard-double-arrow-left" />
        </button>
    </div>
    <div class="w-full h-full ml-8 lg:px-16 overflow-hidden relative flex flex-row items-center justify-start" id="review-card-container">
        <ReviewCard title="Jimmy" stars={5} text="Here are the biggest enterprise technology acquisitions of 2021 so far, in reverse chronological order." />
        <ReviewCard title="Jimmy" stars={3} text="Here are the biggest enterprise technology acquisitions of 2021 so far, in reverse chronological order." />
        <ReviewCard title="Jimmy" stars={3} text="Here are the biggest enterprise technology acquisitions of 2021 so far, in reverse chronological order." />
        <ReviewCard title="Jimmy" stars={3} text="Here are the biggest enterprise technology acquisitions of 2021 so far, in reverse chronological order." />
        <ReviewCard title="Jimmy" stars={5} text="Here are the biggest enterprise technology acquisitions of 2021 so far, in reverse chronological order." />
        <ReviewCard title="Jimmy" stars={3} text="Here are the biggest enterprise technology acquisitions of 2021 so far, in reverse chronological order." />
        <ReviewCard title="Jimmy" stars={3} text="Here are the biggest enterprise technology acquisitions of 2021 so far, in reverse chronological order." />
        <ReviewCard title="Jimmy" stars={3} text="Here are the biggest enterprise technology acquisitions of 2021 so far, in reverse chronological order." />
        <ReviewCard title="Jimmy" stars={3} text="Here are the biggest enterprise technology acquisitions of 2021 so far, in reverse chronological order." />
    </div>
    <div class="h-full flex items-end lg:items-center justify-center right-0 mr-4 absolute w-16 z-30">
        <button class="w-16 h-16 flex items-center justify-center" id="review-scroll-button-right">
            <Icon name="ic:round-keyboard-double-arrow-right" />
        </button>
    </div>
</section>