---

const { title, text, icon } = Astro.props;

---

<div class="w-full h-96 2xl:h-[30rem] rounded-xl my-2 max-2xl:py-8 2xl:w-[30%] flex flex-col items-center justify-end py-8 bg-white shadow-2xl">
    <div class="w-24 h-24 rounded-xl -translate-y-12 shadow-md pointer-events-none">
        <img src={icon} alt="" class="w-full h-full object-cover rounded-xl p-4 pointer-events-none">
    </div>

    <h3 class="text-bright-red text-xl md:text-3xl font-bold">{title}</h3>

    <p class="w-full px-8 py-4 md:p-8 text-sm md:text-lg text-black">
        {text}
    </p>
</div>