

<div class="w-16 h-8 flex lg:hidden flex-col justify-evenly items-center cursor-pointer" id="burger">
    <div class="w-8 h-1 bg-black"></div>
    <div class="w-8 h-1 bg-black"></div>
    <div class="w-8 h-1 bg-black"></div>
</div>