---
import Icon from 'astro-icon'

import { getLangFromUrl, useTranslations } from '../i18n/utils';

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<footer class="xl:h-72 bg-dark-red flex justify-evenly xl:justify-center items-start xl:items-center flex-col xl:flex-row w-full py-4 px-8" id="contact">
    <img src="/assets/logo-big.svg" class="w-64 h-64 mr-4" />

    <div class="h-3/4 flex-col max-xl:my-5 flex justify-evenly items-start px-8 w-full xl:w-1/6 border-l border-white">
        <a class="text-xl py-1 text-white cursor-pointer hover:text-bright-red ease-in-out duration-200 transition-all" href={`/${lang === "en" ? ``: "pl/"}#about`}>{t('nav.about')}</a>
        <a class="text-xl py-1 text-white cursor-pointer hover:text-bright-red ease-in-out duration-200 transition-all" href={`/${lang === "en" ? ``: "pl/"}#offer`}>{t('nav.offer')}</a>
        <a class="text-xl py-1 text-white cursor-pointer hover:text-bright-red ease-in-out duration-200 transition-all" href={`/${lang === "en" ? ``: "pl/"}#contact`}>{t('nav.contact')}</a>
        <a class="text-xl py-1 text-white cursor-pointer hover:text-bright-red ease-in-out duration-200 transition-all" href={`/${lang === "en" ? ``: "pl/"}}blog`}>{t('nav.blog')}</a>
        <a class="text-xl py-1 text-white cursor-pointer hover:text-bright-red ease-in-out duration-200 transition-all" href={`/${lang === "en" ? ``: "pl/"}faq`}>{t('nav.faq')}</a>
    </div>

    <div class="h-3/4 max-xl:my-5 flex-col flex justify-evenly items-start px-8 w-full xl:flex-1 border-l border-white">
        <h3 class="text-2xl text-white font-bold">Adress</h3>

        <div class="flex flex-1 w-full mt-4">
            <p class="text-lg text-white">BEEP - Financial Advice Service K P C House <br />
                1st Floor Unit 5 Canterbury Road Ashford (Kent) <br />
                TN24 0BP <br />
                Company no. 11753640
            </p>
        </div>
    </div>

    <div class="w-full xl:w-1/3 max-xl:my-5 border-l border-white h-3/4 px-8">
        <h3 class="text-2xl text-white font-bold">{t("nav.contact")}</h3>

        <div class="w-full flex flex-1 flex-col xl:flex-row">
            <div class="w-full xl:w-7/12 flex flex-1 flex-col">
                <div class="w-full h-12 flex flex-row items-center justify-start">
                    <Icon name="bi:telephone-fill" class="w-6 h-6 my-3 text-white" />
                    <p class="text-xl text-white px-2">+4407725746570</p>
                </div>
                <div class="w-full h-12 flex flex-row items-center justify-start">
                    <Icon name="bi:telephone-fill" class="w-6 h-6 my-3 text-white" />
                    <p class="text-xl text-white px-2">+4407725746570</p>
                </div>
                <div class="w-full h-12 flex flex-row items-center justify-start">
                    <Icon name="ic:baseline-mail" class="w-8 h-8 my-3 text-white" />
                    <p class="text-xl text-white px-2">info@beep-fas.co.uk</p>
                </div>
            </div>
            <div class="w-full xl:w-5/12 flex flex-col">
                <div class="w-full h-12 flex flex-row items-center justify-start">
                    <Icon name="ic:baseline-facebook" class="w-8 h-8 my-3 text-white" />
                    <p class="text-xl text-white px-2">beep.fas</p>
                </div>
            </div>
        </div>
    </div>
</footer>