---
export interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Interesuje Cię księgowość, ubezpieczenia, bądź kredyt hipoteczny w UK? Skontaktuj się z nami! Pomożemy Ci znaleźć najlepsze rozwiązanie.">
		<link rel="profile" href="http://gmpg.org/xfn/11">
		<meta name="viewport" content="width=device-width" />
		<link rel="canonical" href="https://beep-fas.co.uk/">
		<meta property="og:locale" content="en_GB">
		<meta property="og:type" content="website">
		<meta property="og:title" content="BEEP - Accounting, Insurance and Mortgages in the UK in Polish!">
		<meta property="og:locale:alternate" content="pl_PL">
		<meta property="og:description" content="Interesuje Cię księgowość, ubezpieczenia, bądź kredyt hipoteczny w UK? Skontaktuj się z nami! Pomożemy Ci znaleźć najlepsze rozwiązanie.">
		<meta property="og:url" content="https://beep-fas.co.uk/">
		<meta property="og:site_name" content="BEEP">
		<meta name="robots" content="index, follow, max-image-preview:large, max-snippet:-1, max-video-preview:-1">
		<link rel="alternate" href="https://beep-fas.co.uk/" hreflang="en">
		<link rel="alternate" href="https://beep-fas.co.uk/pl" hreflang="pl">
		<link rel="icon" type="image/svg+xml" href="/assets/logo.svg" />
		<title>{title}</title>
	</head>
	<body style="display: flex; flex-direction: column; min-height: 100svh;">
		<slot />
		<script is:inline src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.5/flowbite.min.js"></script>
	</body>
</html>

<style is:global>
	@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

	* {
		font-family: 'Montserrat', sans-serif;
		scroll-behavior: smooth;
	}
</style>